{% extends "layout.html" %}
{% block body %}
    

    
    <div class="container">
      <h3 style="color:#0066CC">List of Requests</h3>
      <table id="myTable" class="table_center table table-striped table-condensed table-responsive tablesorter" >
        <thead style="background-color:rgb(255,102,102)">
          <tr>
            <th class="hoverhighlight">Title</th>
            <th class="hoverhighlight">Description</th>
            <th class="hoverhighlight">Client</th>
            <th class="hoverhighlight">Priority</th>
	    <th class="hoverhighlight">Target Date</th>
	    <th class="hoverhighlight">Product Area</th>
          </tr>
        </thead>
        
        <tbody>
          {% for request in feature_request %}
          <tr>
            <td style="text-align:center">{{ request.title }}</td>
            <td style="text-align:center">{{ request.description }}</td>
            <td style="text-align:center">{{ request.client }}</td>
            <td style="text-align:center">{{ request.priority }}</td>
	    <td style="text-align:center">{{ request.targetdate }}</td>
	    <td style="text-align:center">{{ request.productarea }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <div class="row" style="height:10px">
	<div class="col-xs-8">
	</div>
	<div class="col-xs-4">
	  <span style="color:blue">*Click on the column headers to sort individual columns</span>
	</div>
	
      </div>
      
      <div class="row">
        <div style="height:80px" class="col-xs-2">
          <a href = "{{ url_for('new') }}" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-plus"></span> Add Request </a>
        </div>
        
	<div style="height:80px" class="col-xs-10">
          <button id="sort-link" class="btn btn-primary btn-lg"> <span class="glyphicon glyphicon-sort-by-order"></span> Sort by Client & Priority </button>
        </div>
	
      </div>
      
    </div>
    
    <script>
     
     $(document).ready(function() 
       { 
         $("#myTable").tablesorter(); 
       } 
     ); 
     
     $("#sort-link").click(function() { 
       // set sorting column and direction, this will sort on the third ([2,0]) and forth ([3,0]) column the column index starts at zero 
       // sort on the first column 
       //$("#myTable").tablesorter( {sortList: [[2,0], [3,0]]} ); 
       var sorting = [[2,0],[3,0]]; 
       $("table").trigger("sorton",[sorting]); 
       return false; 
     }); 
     
    </script>
{% endblock %}
    


  

