<!DOCTYPE html>
<html lang = "en">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
  <style type="text/css">
   body { 
     background: rgb(192,192,192) !important; 
   } 
   header { 
     background: rgb(205,105,63) !important;  
     padding-top: 5px;
     padding-bottom: 15px;
   }
  </style>
  

  <header>
    <h2 class="text-center" >
      <a href = "{{ url_for('show_all') }}" style="color:rgb(0,0,0)">Feature Request - PreAlpha</a>
    </h2>
  </header>
 
 <body>
      
      <hr/>
     
      
      <div class="container">
	<table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Client</th>
              <th>Priority</th>
	      <th>Target Date</th>
	      <th>Product Area</th>
            </tr>
          </thead>
          
          <tbody>
            {% for request in feature_request %}
            <tr>
              <td>{{ request.title }}</td>
              <td>{{ request.description }}</td>
              <td>{{ request.client }}</td>
              <td>{{ request.priority }}</td>
	      <td>{{ request.targetdate }}</td>
	      <td>{{ request.productarea }}</td>
            </tr>
            {% endfor %}
          </tbody>
	</table>
	
	<a href = "{{ url_for('new') }}" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-plus"></span> Add Request </a>

      </div>
      
      <hr/>
      
      {%- for message in get_flashed_messages() %}
      <p class="text-center">{{ message }}</p>
      {%- endfor %}
	
 </body>
</html>
